#navbar .logo {
    float: none;
    text-align: center;
}

#navbar ul li {
    
    float: none;
}

#navbar ul{
   
    float: none;

}

#navbar .container{
    display: block;
}

/* Showcase */
#showcase {
    height: 100%;
   
}

#showcase .showcase-content {
    padding-bottom: 80px;
}


/* Home info */

#home-info .info-img {
    display: none;
}


#home-info .info-content{
    float: none;
    width: 100%;
}

/* Boxes */

.box{
    float: none;
    width: 100%;
}

/* About */
#about-info .info-right,
#about-info .info-left {
    float: none;
    width: 100%;
}

#about-info .info-right {
    margin-top: 30px;
}

.l-heading {
    text-align: center;
}


/* Contact */
#contact-info .box {
    border-bottom: #444 dotted 2px;
}
